* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 25px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ddd;
}
ul {
  list-style: none;
  display: flex;
}

li {
  padding: 15px;
}

header {
  margin: 100px;
}

header, footer, nav, section {
  display: flex;
  justify-content: center;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

img {
  border-radius: 50%;
  padding: 20px;

}