* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.quiz{
  display: none;
}

section {
  min-height: 200px;
  padding: 10% 0;
}

.bio-pic {
  border-radius:50%;
  padding: 20px;
  height:225px; 
  width:225px;
}

ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin: 0
}

.javascript, .jquery, .css, .html, .linkedin, .email, .github {
  width: 35px;
  height: 35px;
}

.css{
  width: 25px;
}

li {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 25px;
}

.foot {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 16px;
  background-color: white;
  font-weight: bold;
  height:50px;
}

header {
  margin: 100px;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Quattrocento', serif;
}

h1, h2, nav {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size:25px;
  line-height: 30px;
}

section {
  padding: 3% 0;
}

.section-contact {
  display: block;
  text-align: center;
  
}

a {
  padding: 15px;
  text-decoration: none;
  max-height: 50px;;
}

.section-projects {
  position: relative;
  background-color: rgba(190, 206, 206, 0.6);
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 15px;
}

.section-projects, .section-bio {
  display: inline-block;
  margin-left: auto;
  margin-right:auto;
  
}

.section-bio {
  padding-top: 27px;
  background-color: rgba(190, 206, 206, 0.6);
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 15px;
}

header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 35px;
}

.section-bio {
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-projects {
  padding-top: 35px;
  padding-bottom: 35px;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size:48px;
    line-height: 80px;
  }
  p {
    font-size: 20px;
    line-height: 35px;
  }

  .javascript, .jquery, .html, .linkedin, .email, .github {
    width: 100px;
    height: 100px;
  }

  .css {
    width: 75px;
    height: 100px;
  }
  section {
    padding: 10% 0;
  }

  li {
    padding: 15px;
    font-size: 25px;
  }

  .foot {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
  }

  .quiz {
    display: flex;
    float: right;
    height: 250px;
    width: 350px;
  }

}

  @media screen and (min-width: 1035px) {

    header {
      margin: 100px;
      padding-top: 80px;
      display: flex;
      justify-content: center;
    }

    li {
      padding: 15px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .section-bio, .section-projects {
      width:100%;
    }
    section {
      padding: 10% 0;
    }

  }